@import "../components/constants.scss";

$mobileSquareSpacing: 3.5em;

#WeddingParty {
  margin-left: 15%;
  margin-right: 15%;
  .titleHead {
    border-bottom: double;
    padding-bottom: 0.5em;

    text-align: center;

    @media screen and (max-width: $phone) {
      margin: 0em;
    }
  }

  .partySquares {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: $sideMargin;
    margin-right: $sideMargin;
    margin-top: 3em;
    margin-bottom: 3em;

    @media screen and (max-width: $phone) {
      flex-direction: column;
      margin: 0em;

      h3 {
        margin-bottom: 0em;
      }
    }

    h2,
    h3 {
      margin: 0.2em;
    }

    .square {
      margin-top: 4em;
      margin-bottom: 4em;
      flex-grow: 1;
      text-align: center;
      flex-basis: 0;

      .partyImg {
        margin-bottom: 1em;
      }

      @media screen and (max-width: $phone) {
        margin-top: $mobileSquareSpacing;
        margin-bottom: 0em;

        padding-bottom: $mobileSquareSpacing;
        width: 100%;
        border-bottom: double;
      }
    }

    .bar {
      border-right: solid 0.9px;
      border-left: solid 0.9px;
      padding: 0.0339em;
      // height: 90%;
      align-self: stretch;
      @media screen and (max-width: $phone) {
        display: none;
      }
    }

    .break {
      flex-basis: 100%;
      // height: 0;
    }
  }
  // .bar {
  //   border-right: none;
  //   border-bottom: double;
  //   width: 100%;
  //   border-left: none;
  //   padding: 0.0339em;
  //   align-self: stretch;
  // }
}
