@import "../components/constants.scss";

#Registry {
  .titleInfo {
    text-align: center;
  }

  .row {
    display: flex;
    justify-content: center;
    align-items: center;
    // height: 15em;
  }

  .logo {
    margin: 3em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    .amazon {
      width: 20em;
      // border: dashed;
    }

    .bbb {
      padding: 2em;
      width: 20em;
    }

    .crate {
      padding: 2em;
      width: 30em;
      height: 8em;
    }

    .pottery {
      padding: 2em;
      width: 20em;
      // height: 20em;
    }
  }

  @media screen and (max-width: $phone) {
    .row {
      flex-direction: column;
      // justify-content: start;
      margin: 0em;
    }

    .logo {
      margin: 2em;

      .amazon {
        // width: 5em;
        // height: 5em;
        // border: dashed;
      }

      .bbb {
        // padding: 2em;
        // width: 20em;
      }

      .crate {
        // padding: 2em;
        width: 20em;
        // height: 3em;
      }

      .pottery {
        // padding: 2em;
        // width: 20em;
        // height: 20em;
      }
    }
  }
}
