@import "../components/constants.scss";

#Registry {
  .titleInfo {
    text-align: center;

    p {
      margin: 0.3em;
      padding: 0;
    }
  }

  .row {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  a {
    margin: 3em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    &:hover {
      box-shadow: 0 4px 8px 0 rgba(6, 67, 124, 0.5),
        0 6px 20px 0 rgba(6, 67, 124, 0.5);
    }

    .logo {
      .amazon {
        width: 20em;
      }

      .bbb {
        padding: 2em;
        width: 20em;
      }

      .crate {
        padding: 2em;
        width: 30em;
        height: 8em;
      }

      .pottery {
        padding: 2em;
        width: 20em;
      }
    }
  }

  @media screen and (max-width: $phone) {
    .row {
      flex-direction: column;
      margin: 0em;
    }

    a {
      margin: 2em;

      .crate {
        width: 20em;
      }
    }
  }
}
