@import "../components/constants.scss";

#Registry {
  .titleInfo {
    text-align: center;
  }

  .row {
    display: flex;
    justify-content: center;
    align-items: center;
    // height: 15em;
  }

  a {
    margin: 3em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    &:hover {
      box-shadow: 0 4px 8px 0 rgba(6, 67, 124, 0.5),
        0 6px 20px 0 rgba(6, 67, 124, 0.5);
    }

    .logo {
      .amazon {
        width: 20em;
      }

      .bbb {
        padding: 2em;
        width: 20em;
      }

      .crate {
        padding: 2em;
        width: 30em;
        height: 8em;
      }

      .pottery {
        padding: 2em;
        width: 20em;
      }
    }
  }

  @media screen and (max-width: $phone) {
    .row {
      flex-direction: column;
      // justify-content: start;
      margin: 0em;
    }

    a {
      margin: 2em;

      .logo {
        .amazon {
          // width: 5em;
          // height: 5em;
          // border: dashed;
        }

        .bbb {
          // padding: 2em;
          // width: 20em;
        }

        .crate {
          // padding: 2em;
          width: 20em;
          // height: 3em;
        }

        .pottery {
          // padding: 2em;
          // width: 20em;
          // height: 20em;
        }
      }
    }
  }
}
