@import "../components/constants.scss";

#Registry {
  .titleInfo {
    text-align: center;

    p {
      margin: 0.3em;
      padding: 0;
    }
  }

  .row {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  a {
    margin: 2.5em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.2s;

    &:hover {
      box-shadow: 0 4px 8px 0 rgba(6, 67, 124, 0.5),
        0 6px 20px 0 rgba(6, 67, 124, 0.5);
    }

    .logo {
      height: 10em;
      display: flex;
      justify-content: center;
      align-items: center;

      .amazon,
      .bbb,
      .crate,
      .pottery {
        width: 20em;
        object-fit: contain;
      }

      .bbb,
      .pottery {
        padding: 2em;
      }

      .crate {
        padding: 1em;
      }
    }
  }

  @media screen and (max-width: $phone) {
    .row {
      flex-direction: column;
      margin: 0em;
    }

    a {
      margin: 2em;

      .logo {
        .crate {
          width: 20em;
          object-fit: contain;
        }
      }
    }
  }
}
