@import "../components/constants.scss";

#RSVP {
  margin-left: 0.5em;
  margin-right: 0.5em;

  .info {
    text-align: center;
  }

  .search {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    input,
    button {
      margin: 1em;
    }

    input {
      width: 18em;
      padding: 0.5em;
      border-color: $backgroundColor;
      border-style: solid;
      transition: 1s;

      &.correct {
        border-color: $kellyGreen;
      }

      &.wrong {
        border-color: red;
      }

      @media screen and (max-width: $phone) {
        text-align: center;
      }
    }

    button {
      width: 6em;
    }
  }

  .message {
    text-align: center;

    .loading {
      margin-top: 3em;
      margin-bottom: 3em;
    }

    &.registerLoading {
      margin-top: 12em;
    }

    &.correct,
    &.wrong {
      p {
        animation-name: showBlock;
        animation-duration: 1s;
        animation-fill-mode: forwards;
      }
    }
    p {
      opacity: 0;

      font-style: italic;
      text-align: center;

      &.correct {
        color: $kellyGreen;
      }

      &.wrong {
        color: red;
      }
    }
  }

  .invitationAnswer {
    text-align: center;

    &.showinvitationAnswer {
      display: block;
      animation-name: showBlock;
      animation-duration: 1s;
    }

    fieldset {
      border: none;
    }

    label {
      font-size: 1.5em;
    }

    [type="checkbox"]:not(:checked) + label:after,
    [type="checkbox"]:checked + label:after {
      font-size: 1.3em;
      top: 0.05em;
      left: 0.15em;
    }

    @media screen and (max-width: $phone) {
      margin-bottom: 2em;
      input[type="checkbox"] + label {
        height: 100%;
        margin-top: 1em;
        display: block;
      }
    }
  }

  .submitRSVP {
    flex-direction: column;
    align-items: center;
    justify-content: center;

    animation-name: showBlock;
    animation-duration: 1s;
    display: none;

    textarea {
      width: 50%;
      border: none;
      margin-bottom: 1.5em;
      padding: 0.5em;
      height: 6em;

      @media screen and (max-width: $phone) {
        width: 90%;
      }
    }

    &.showSubmit {
      display: flex;
    }
  }
}
