@import "../components/constants.scss";

#RSVP {
  margin-left: 0.5em;
  margin-right: 0.5em;

  .info {
    text-align: center;
  }

  .search {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    input,
    button {
      margin: 1em;
    }

    input {
      width: 18em;
      padding: 0.5em;
      border-color: $backgroundColor;
      border-style: solid;
      transition: 1s;

      &.correct {
        border-color: $kellyGreen;
      }

      &.wrong {
        border-color: red;
      }

      @media screen and (max-width: $phone) {
        text-align: center;
      }
    }

    button {
      background-color: $backgroundColor;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      width: 6em;
      border: double;
      cursor: pointer;

      &:active {
        box-shadow: inset 0px 0px 5px $grey;
        border: solid;
        border-width: 0.05em;
      }
    }
  }

  .message {
    text-align: center;

    .loading {
      margin-top: 3em;
      margin-bottom: 3em;
    }

    &.correct,
    &.wrong {
      p {
        animation-name: showBlock;
        animation-duration: 1s;
        animation-fill-mode: forwards;
      }
    }
    p {
      opacity: 0;

      font-style: italic;
      text-align: center;

      &.correct {
        color: $kellyGreen;
      }

      &.wrong {
        color: red;
      }
    }
  }
}
