@import "../components/constants.scss";

#RSVP {
  margin-left: 0.5em;
  margin-right: 0.5em;

  .title {
    padding-top: 0.5em;
    text-align: center;
  }

  .info {
    text-align: center;
  }

  .search {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    input,
    button {
      margin: 1em;
    }

    input {
      width: 18em;
      padding: 0.5em;

      @media screen and (max-width: $phone) {
        text-align: center;
      }
    }

    button {
      background-color: $backgroundColor;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      width: 6em;
      border: double;
      cursor: pointer;
      // transition: 0.1s;

      &:active {
        box-shadow: inset 0px 0px 5px $grey;
        outline: none;
        border: none;
        // color: white;
      }
    }
  }
}
