@import "../components/constants.scss";

$side: 20%;
$sideMobile: 5%;

#Story {
  margin-left: $side;
  margin-right: $side;

  h3 {
    text-align: center;
    font-style: italic;
  }

  @media screen and (max-width: $phone) {
    margin-left: $sideMobile;
    margin-right: $sideMobile;
  }
}
