@import "../components/constants.scss";

$side: 20%;
$sideMobile: 5%;

#Wedding {
  margin-left: $side;
  margin-right: $side;
  text-align: center;

  .mapContainer {
    margin-top: 3em;
    margin-bottom: 3em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    display: flex;
    justify-content: center;
    width: 100%;
    height: 20em;
  }

  a {
    color: $grey;
    transition: 0.2s;

    &:visited {
      color: $grey;
    }

    &:hover {
      color: rgb(0, 98, 190);
    }

    address {
      margin: 1em;
      p {
        margin: 0;
        padding: 0;
      }
    }
  }

  .accommodations {
    p {
      margin: 0;
      padding: 0;
    }
  }

  .infoWindow {
    p {
      margin: 0;
      padding: 0;
    }
  }

  @media screen and (max-width: $phone) {
    margin-left: $sideMobile;
    margin-right: $sideMobile;
  }
}
