@import "./constants.scss";

.headerFixed {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  background-color: #f5f5f5;

  header {
    // $marginEdge: 0.6em;
    // margin-top: 0.9em;
    margin-left: 0.9em;
    margin-right: 0.9em;
    margin-bottom: 0em;

    .flex-container {
      display: flex;
      justify-content: space-between;
      text-align: center;
      margin-bottom: 0em;

      h1 {
        flex-grow: 1;
        margin: 0;
        margin-top: 0em;
        margin-bottom: 0.2em;
        color: $grey;
        font-weight: 500;
        align-self: center;
        transition: 0.2s;

        font-size: 2.8em;
      }

      h5 {
        justify-content: center;
        font-size: 0.9em;
        font-weight: 600;
        margin-top: 1.2em;
        margin-bottom: 0em;

        color: $grey;
        flex-grow: 0;
      }

      .date {
        margin-right: 1em;
      }
    }
  }

  &.fixed {
    header > .flex-container > h1 {
      font-size: 1.5em;
      transition: 0.2s;
    }
  }

  nav {
    width: 100%;
    display: inline-block;

    ul {
      list-style-type: none;
      margin: 0.5em;
      padding: 0;
      overflow: auto;
      text-align: center;
    }

    li {
      $navLiPadding: 6ch;
      display: inline-block;
      padding-left: $navLiPadding;
      padding-right: $navLiPadding;
    }

    div.bar {
      display: block;
      border-bottom: double;
      border-right: none;
      border-left: none;
      font-size: 12px;
    }

    a {
      text-decoration: none;
      text-transform: uppercase;
      font-size: 14px;
      color: black;
      display: inline-block;

      &:after {
        content: "";
        width: 0px;
        height: 1px;
        display: block;
        background: $grey;
        transition: 300ms;
      }

      &:hover:after,
      &.active:after {
        width: 100%;
      }
    }
  }
}
