header {
  $marginEdge: .6em;

  .flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;


    &.header {
      justify-content: center;

      h5 {
        margin-left: $marginEdge;
        margin-right: 1em;
      }
    }

    h1 {
      flex-grow: 1;
      text-align: center;
    }

    h5 {
      margin-top: $marginEdge;
      font-size: .95em;
      text-align: center;
      flex-grow: 0;

      &.hashtag {
        margin-right: $marginEdge;
      }
    }
  }
}

nav {
  width: 100%;
  display: inline-block;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    text-align: center;
  }

  li {
    $navLiPadding: 6ch;
    display: inline-block;
    padding-left: $navLiPadding;
    padding-right: $navLiPadding;
  }

  div.bar {
    display: block;

    border-bottom: 1px solid #eee;
    margin-top: -1.6em;
    margin-bottom: 1.6em;
    border-bottom-width: 2px;
    font-size: 12px;
  }

  a {
    text-decoration: none;
    color: black;

    &:hover,
    &.active {
      text-decoration: underline;
    }
  }
}