header {
  $marginEdge: .6em;

  .flex-container {
    display: flex;
    align-items: center;
    background-color: blue;
    justify-content: space-between;


    &.header {
      justify-content: center;

      h5 {
        margin-left: $marginEdge;
        margin-right: 1em;
      }
    }

    h1 {
      background-color: red;
      flex-grow: 1;
      text-align: center;
    }

    h5 {
      background-color: red;
      margin-top: $marginEdge;
      font-size: .95em;
      text-align: center;
      flex-grow: 0;

      &.hashtag {
        margin-right: $marginEdge;
        background-color: green;
      }

    }
  }
}

nav {
  width: 100%;
  display: inline-block;

  ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    text-align: center;
  }

  li {
    display: inline-block;
    padding: 2% 3ch;
  }

  div.bar {
    display: block;

    border-bottom: 1px solid #eee;
    margin-top: -1.6em;
    margin-bottom: 1.6em;
    border-bottom-width: 2px;
    font-size: 12px;
  }

  a {
    text-decoration: none;
    color: grey;

    &:hover,
    &.active {
      color: black;
    }
  }
}