@import "./constants.scss";

.headerFixed {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  background-color: #f5f5f5;

  .hashtag {
    text-transform: none;
  }

  header {
    margin-left: 0.9em;
    margin-right: 0.9em;
    margin-bottom: 0em;

    .flex-container {
      display: flex;
      justify-content: space-between;
      text-align: center;
      margin-bottom: 0em;

      h1 {
        flex-grow: 1;
        margin: 0;
        margin-top: 0em;
        margin-bottom: 0.2em;
        color: $grey;
        font-weight: 500;
        align-self: center;
        transition: 0.2s;

        font-size: 2.8em;
      }

      h5 {
        justify-content: center;
        font-weight: 500;
        margin-top: 1.2em;
        margin-bottom: 0em;

        color: $grey;
        flex-grow: 0;
      }

      .date {
        margin-right: 1em;
      }
    }

    .mobileHeader {
      display: none;
    }
  }

  &.fixed {
    header > .flex-container > h1 {
      font-size: 1.8em;
      transition: 0.2s;
    }
  }

  nav {
    width: 100%;
    display: inline-block;

    .navList {
      display: flex;
      justify-content: center;
      align-items: center;

      .navItem {
        text-align: center;
        margin-top: 0.5em;
        margin-left: 2.15em;
        margin-right: 2.15em;
        margin-bottom: 0.5em;
      }
    }

    div.bar {
      display: block;
      border-bottom: double;
      border-right: none;
      border-left: none;
      font-size: 12px;
    }
  }

  a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    color: $grey;
    display: inline-block;

    &:after {
      content: "";
      width: 0px;
      height: 1px;
      display: block;
      background: $grey;
      transition: 0.5s;
    }

    &:hover:after,
    &.active:after {
      width: 100%;
    }
  }

  .overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    opacity: 0.9;
    overflow-y: hidden;
    transition: 0.5s;

    &.menuActive {
      height: 100%;
    }

    a {
      font-size: 26px;

      &:after {
        margin-top: 5px;
        height: 1.2px;
      }
    }
  }

  .overlay-content {
    position: relative;
    top: 7%;
    width: 100%;
    text-align: center;
    margin-top: 30px;

    display: flex;
    justify-content: center;

    align-items: center;
    flex-direction: column;

    .navItem {
      margin: 1em;
    }
  }

  @media screen and (max-width: $phone) {
    header {
      margin-left: 0em;
      margin-right: 0em;
      margin-bottom: 0em;

      .mobileHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 0em;
        border-bottom: double;

        .hamburger {
          top: 20%;

          &:before {
            top: -8px;
          }

          &:after {
            top: 8px;
          }

          &,
          &:before,
          &:after {
            content: "";
            position: absolute;
            width: 35px;
            height: 3px;
            background: $grey;
            transition: 0.3s;
          }
        }

        .icon-one {
          position: fixed;
          margin-top: 0em;
          margin-left: 1.2em;
          cursor: pointer;

          &.active-one .hamburger {
            background: rgba(0, 0, 0, 0);

            &:before {
              top: 0;
              transform: rotate(45deg);
            }

            &:after {
              top: 0;
              transform: rotate(135deg);
            }
          }
        }

        h1 {
          flex-grow: 1;
          text-align: center;
          font-size: 1.3em;
          color: $grey;
          font-weight: 500;
        }
      }

      .flex-container {
        display: none;
      }
    }

    nav {
      display: block;
      div.bar {
        display: none;
      }
      .navList {
        display: none;
      }
    }
  }
}
