@import "../constants.scss";

.FormEntry {
  margin-right: $sideMargin;
  margin-left: $sideMargin;

  display: none;

  &.show {
    display: block;
  }

  .header {
    h3 {
      font-style: italic;
    }
  }

  .formRow {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    animation-name: showBlock;
    animation-duration: 1s;

    &:not(:last-child) {
      padding-bottom: 2em;
    }

    &:first-child {
      padding-bottom: 0em;
    }

    .headerName,
    .headerAllergy,
    .inputName,
    .headerAction,
    .inputAction {
      text-align: center;
      width: 20em;
    }

    .inputName {
      input {
        color: $grey;
        border: 0;
        outline: 0;
        background: transparent;
        font-family: "Pinyon Script", cursive;
        font-size: 1.5em;
        text-align: center;
        border-bottom: 1px solid $grey;
        padding: 0.4em;
      }
    }
  }

  .footerAdd {
    flex-direction: column;
    padding: 0.5em;
    margin: 1em;
    text-align: center;

    // width: 10em;
  }

  @media screen and (max-width: $phone) {
    .header {
      display: none;
    }
    .formRow {
      flex-direction: column;
      margin-bottom: 1em;
      padding: 0;

      input[type="checkbox"] + label {
        display: block;
      }

      .headerName,
      .headerAllergy,
      .inputName,
      .headerAction,
      .inputAction {
        padding: 1em;
      }
    }
  }
}
